
html {
    font-family: sans-serif;
    background: white;
    padding: 1rem;
  }
  
  body {
    max-width: 400px;
    margin: 0 auto;
    background: #CDD7D6;
    border: 1px solid;
    border-radius: 5px
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    color: #102542;
    margin: 1px 0;
    }
  
  a {
    color: white;
  }
  a:hover{
    color: #F87060;
  }
  


  hr {
    border: none;
    border-top: 1px solid black;
  }
  
  nav {
    background: #102542;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border: 1px solid
  }
  
  nav h1 {
    flex: auto;
    margin: 0;
    color: white;
    text-shadow: 2px 2px #F87060;
  }
  
  nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
  }
  
  nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a, nav ul li span, header .action {
    display: block;
    padding: 0.5rem;
  }

  .content {
    padding: 0 1rem 1rem;
  }
  
  .content > header {
    border-bottom: 1px solid #102542;
    display: flex;
    align-items: flex-end;
  }
  
  .content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
  }
  
  .flash {
    margin: 1em 0;
    padding: 1em;
    background: white;
    box-shadow: 5px 5px #F87060;
    border: 1px solid #102542;
    border-radius: 3px;
    color: 102542;
  }
  
  .post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
  }
  
  .post > header > div:first-of-type {
    flex: auto;
  }
  
  .post > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  
  .post .about {
    color: slategray;
    font-style: italic;
  }
  
  .post .body {
    white-space: pre-line;
  }
  
  .content:last-child {
    margin-bottom: 0;
  }
  
  .content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
  }
  
  .content label {
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #102542;
  }
  
  .content input, .content textarea {
    margin-bottom: 1em;
    border: 1px solid #102542 !important;
    border-radius: 500px;
    text-align: center;
  }
  
  .content textarea {
    min-height: 12em;
    resize: vertical;
  }
  
  input.danger {
    color: #cc2f2e;
  }
  
  input[type=submit] {
  align-self: start;
  min-width: 10em;
  background-color: #102542;
  color: white;
  }

  input[type=submit]:hover{
  color: #F87060;
  box-shadow: 2px 2px #F87060;
  }